{% extends "mohir_app/base.html" %}
{% load static %}
{% block title %}Reset Confirmation 🤐 {% endblock title %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
        {% if validlink %}  

            <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                <h2 class="card-title">Confirm Password Reset</h2>
                <form method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="uidb64" value="{{ uidb64 }}">
                    <input type="hidden" name="token" value="{{ token }}">
                    <div class="form-group">
                    <label for="new_password1">New Password:</label>
                    <input type="password" id="new_password1" name="new_password1" class="form-control" required>
                    </div>
                    <div class="form-group">
                    <label for="new_password2">Confirm New Password:</label>
                    <input type="password" id="new_password2" name="new_password2" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </form>
                </div>
            </div>
            </div>
        {% else %}
            <h2> No to'g'ri linkdan foydalandingiz, u avvalroq foydalangan bo'lishi yoki ishlatilish vaqti o'tib ketgan bo'lishi mumkin.
        {% endif %}
    </div>
  </div>
{% endblock %}
