<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> {% endcomment %}
</head>
<body>
    <header>
        <nav>
            <ul>
                {% for category in context_list %}
                <li>
                    {{category}}
                </li>
                {% endfor %}
                {% comment %} <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li> {% endcomment %}
                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Add footer content here -->
    </footer>

    {% comment %} <script src="{% static 'js/scripts.js' %}"></script> {% endcomment %}
</body>
</html>
