{% extends 'mohir_app/base.html' %}

{% block title %}
  Successful Form Submission
{% endblock %}

{% block content %}
  <section id="successSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            <div class="single_page_content text-center">
              <h1 style="margin-top: 50px;">SUCCESSFUL FORM SUBMISSION</h1>
              <p>
                <span style="font-size: 72px;">🎉</span><br>
                Hooray! Your form submission was successful.<br>
                We're excited to receive your information.
              </p>
              <!-- You can add additional content or customize the success message as needed -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <!-- Sidebar content -->
        </aside>
      </div>
    </div>
  </section>
{% endblock %}
