{% extends 'mohir_app/base.html' %} 
{% block title %} 
  {% if news %} 
    {{news.title }} 
  {% else %} 
    NewsFeed
  {% endif %} 
{% endblock %} 

{% block content %}
  {% if news %}
  <section id="detailSection">
    <div class="row text-white">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="left_content">
          <div class="single_page">
            <h1>{{ news.title }}</h1>
            <div class="post_commentbox">
              <a href="#"><i class="fa fa-user"></i>{{ news.author }}</a>
              <span><i class="fa fa-calendar"></i>{{ news.published_time }}</span>
              <span><i class="fa fa-eye"></i>{{ news.views_count}}</span>
              <span><i class="fa fa-comment" aria-hidden="true"></i> {{comment_count}}</span>
            </div>
            <div class="single_page_content">
              <img
                class="img-center"
                src="{{ news.image.url }}"
                alt="{{ news.title }}"
              />
              <p>{{ news.body }}</p>
              {% if request.user.is_authenticated and request.user.is_superuser %}
                <a href="{% url 'newsUpdateView' news.slug%}">
                  <button
                    class="btn btn-success btn-sm rounded-0"
                    type="button"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Edit"
                  >
                    <i class="fa fa-edit"></i> Edit
                  </button>
                </a>
                <a href="{% url 'newsDeleteview' news.slug%}"
                  ><button
                    class="btn btn-danger btn-sm rounded-0"
                    type="button"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Delete"
                  >
                    <i class="fa fa-trash"></i>Delete
                  </button>
                </a>
              {% endif %}
              
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <aside class="right_content">
          <a href="{% url 'newsUpdateView' news.slug%}">
            <button
              class="btn btn-success btn-sm rounded-0"
              type="button"
              data-toggle="tooltip"
              data-placement="top"
              title="Edit"
            >
              <i class="fa fa-edit"></i> Edit
            </button>
          </a>
          <a href="{% url 'newsDeleteview' news.slug%}"
            ><button
              class="btn btn-danger btn-sm rounded-0"
              type="button"
              data-toggle="tooltip"
              data-placement="top"
              title="Delete"
            >
              <i class="fa fa-trash"></i>Delete
            </button>
          </a>
        </aside>
      </div>
    </div>
  </section>
  {% else %}
    <p>Page not found.</p>
  {% endif %} 
{% for comment in comments %}

<div class="comments" >
  <p class="text-bold text-danger">
    {{comment.user}}
    <span class="text-muted font-weight-normal">
    {{comment.created_time}}
    </span>

</p>
{{comment.body | linebreaks}}
</div>

{% endfor %}
{% if user.is_authenticated %}

<div class="col-md-8 card mb-4 mt-3">
  <div class="card-body">
    <h3>Izoh qoldirish</h3>
    <form method="post">
      {% csrf_token %}

      {{comment_form.as_p}}
      <button type="submit" class="btn btn-primary btn-lg">
        Yuborish
      </button>


    </form>
  </div>
</div>
{% else %}
<div class="comment-section bg-light p-3 border rounded mt-4">
  <p class="h4 text-danger mb-3">Only registered users can comment</p>

  <div class="d-flex align-items-center">
      <a href="{% url 'user_register'%}" class="btn btn-primary btn-lg text-white me-2">Register</a>
      <span class="text-muted">|</span>
      <a href="{% url 'login'%}" class="btn btn-success btn-lg text-white ms-2">Login</a>
  </div>
</div>


{% endif %}

{% endblock %}
